@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
/*
font-family: "Fraunces", serif;
font-family: "Montserrat", sans-serif;
*/

body {
    background-color: orange;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
}
main {
    border: 3px solid red;
    width: 650px;
    height: 400px;
}
.photo {
    border: 1px solid forestgreen;
    width: 300px;
}
.content {
    border: 1px solid blue;
    width: 350px;

}